.contact-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.contact-container .contact-header {
  margin-bottom: 60px;
}

.contact-container .contact-title {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 8px;
}

.contact-container .contact-description {
  color: var(--main-color-90);
}

.checkbox-container {
  display: flex;
  gap: 16px;
  color: var(--main-color-90);
  margin-bottom: 40px;
}

.contact-container .button-container {
  display: flex;
  justify-content: flex-end;
}
