.select {
  color: var(--main-color-90);
  padding: 10px 16px;
  border-radius: 4px;
  width: 100%;
  font-weight: 500;
  border: none;
  border: transparent 1px solid;
  appearance: none;
}

.select-container {
  position: relative;
}

.select-container > .chevron {
  width: 12px;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.select.primary {
  background-color: var(--main-color-100);
}

.select.secondary {
  background-color: var(--bg-color);
  border: var(--main-color-80) 1px solid;
}

.select:focus {
  border-color: var(--main-color-50);
  outline: 2px solid var(--main-color-50);
}
